<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <style>

    body{
      width: 100%;
      background-color: rgb(218, 228, 231)
    }

    dev {
      display: block;
      position: relative;
      width: 18cm;
      margin-left: auto;
      margin-right: auto;

      color: black;
      font-size: 2cm;

    }

    dev:hover {
      font-size: 2.1cm;
       transition: font-size 2s;
       -webkit-transition: font-size 2s; /* Safari */
    }


  </style>

<dev>helo web</dev>
<dev>web</dev>


</body>

</html>
